.weather {
  font-family: sans-serif;
}

.weather--title {
  color: #39afff;
}

.weather--subtitle {
  color: #9DDCF2;
  margin-bottom: 20px;
}

.weather--today {
  margin-bottom: 40px;
}

.forecast {
  margin-bottom: 20px;
}
