:global {
  @import 'base';

  html {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // The app render target in React Storybook.
  #root {
    padding: 2rem 0;
  }
}
