
.input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: solid $darkGray 2px;
  padding-left: 15px;
  color: $darkGray;
  margin-bottom: 15px;
}

.label {
  padding-left: 0px;
  margin-top: 30px;
}

.icon {
  position: absolute;
  top: 10px;
  right: 30px;
}

.button {
  background-color:  $gitHubBlue;
  color: $white;
}

.button:hover {
  background-color: $lightGray;
}

.gitHubIcon {
  margin-bottom: 20px;
  margin-right: 15px;
}

.error {
  margin-left: 15px;
  color: $alertRed;
}
