.weather {
  font-family: sans-serif;
}

.weather--title {
  color: $darkBlue;
  font-size: 40px;
  margin-bottom: 0.5em;
}

.weather--subtitle {
  color: $lightBlue;
  margin-bottom: 0.5em;
}

.weather--today {
  margin-bottom: 4em;
}

.weather--button {
  margin-bottom: 0.5em;
}

.forecast {
  margin-bottom: 2em;
}

.forecast--item {
  margin-bottom: 0em;
}
