/*Variables can be used globally without importing*/
/*BRAND COLORS */
$gitHubBlue: #1DA1F2;
$white: #ffffff;
$black: #14171A;
$darkGray: #657786;
$lightGray:#AAB8C2;
$lighterGray: #E1E8ED;
$lightestGray: #F5F8FA;

/*Secondary*/
$alertRed: #ff0000;
$yellow: #ffff00;
$green: #92C842;
